<div class="relative flex flex-col gap-8 bg-midnightBlue">
  <div class="absolute top-0 left-0 w-full h-full bg-black/45 z-5"></div>
  <div class="absolute inset-0 grid-bg opacity-30"></div>
  <div
    class="absolute top-0 left-0 -translate-x-1/4 -translate-y-1/2 w-96 h-96 bg-blue-600/15 blur-[120px] rounded-full">
  </div>
  <div class="absolute top-0 right-1/4 translate-y-1/2 w-96 h-96 bg-purple-600/15 blur-[120px] rounded-full">
  </div>
  <app-navbar></app-navbar>

  <main>
    <div class="max-w-full mx-auto px-6 pt-12 sm:px-8 md:px-16 lg:px-36 ">
      <section id="hero">
        <app-hero />
      </section>

      <section id="about">
        <app-about />
      </section>

      <section id="education">
        <app-education />
      </section>

      <section id="experience">
        <app-experience />
      </section>

      <section id="skills">
        <app-skills />
      </section>

      <section id="projects">
        <app-projects />
      </section>

      <section id="contact">
        <app-contact />
      </section>

    </div>
  </main>

  <app-footer></app-footer>
</div>