<app-main-section title="About Me">
    <div about>
        <div class="flex flex-col lg:flex-row items-center gap-12 mb-20">
            <div [appScrollTrigger]="'animate-slide-right'"
                class="opacity-0 [animation-delay:0.5s] relative w-full max-w-sm h-[400px] rounded-xl border-4 border-slate-700 hover:border-skyBlue hover:shadow-xl hover:shadow-skyBlue/30 transition-all">
                <div class="absolute -inset-1 bg-midnightBlue/30 rounded-xl blur-sm z-10"></div>
                <img src="./assets/MichealGhobrial.jpeg" alt="Profile"
                    class="relative rounded-lg w-full h-full object-cover " />
            </div>

            <div [appScrollTrigger]="'animate-slide-left'"
                class="flex-1 space-y-6 text-gray-400 leading-relaxed text-lg z-10 opacity-0">
                <p>
                    I'm a Full-Stack Software Engineer with a strong focus on building scalable
                    and high-performance web applications using modern technologies.
                    I enjoy turning complex problems into simple, efficient solutions
                    through clean and maintainable code.
                </p>

                <p>
                    I specialize in developing robust backend systems with .NET and creating
                    dynamic, responsive user interfaces with Angular. My goal is to deliver
                    reliable software and seamless user experiences while continuously
                    learning and improving my technical skills.
                </p>
            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-6 ">
            <div *ngFor="let service of services" [appScrollTrigger]="'animate-slide-right'"
                class="opacity-0 z-10 bg-midnightBlue/50 border border-skyBlue/20 p-8 rounded-2xl flex flex-col items-center text-center  hover:shadow-2xl hover:shadow-blue-700 transition-all duration-500">

                <div class="flex items-center bg-skyBlue/20 text-skyBlue p-4 rounded-full mb-4"
                    [ngSwitch]="service.icon">
                    <!-- Frontend -->
                    <svg *ngSwitchCase="'frontend'" width="32" height="32" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 8L3 12L8 16" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />

                        <path d="M16 8L21 12L16 16" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />

                        <path d="M14 4L10 20" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                    </svg>

                    <!-- Backend -->
                    <svg *ngSwitchCase="'backend'" width="32" height="32" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <rect x="2" y="2" width="20" height="8" rx="2" stroke="#3B82F6" stroke-width="1.5" />
                        <rect x="2" y="14" width="20" height="8" rx="2" stroke="#3B82F6" stroke-width="1.5" />

                        <circle cx="5" cy="6" r="1" fill="#10B981" />
                        <circle cx="8" cy="6" r="1" fill="#10B981" />
                        <circle cx="5" cy="18" r="1" fill="#10B981" />
                        <circle cx="8" cy="18" r="1" fill="#10B981" />

                        <path d="M12 12c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z" stroke="currentColor"
                            stroke-width="1.2" />
                        <path
                            d="M12 7V6M12 14v-1M9.5 8.5L8.5 7.5M15.5 11.5l-1-1M8 10H7M17 10h-1M9.5 11.5l-1 1M15.5 8.5l-1-1"
                            stroke="currentColor" stroke-width="1.2" stroke-linecap="round" />

                        <path d="M12 10v4" stroke="currentColor" stroke-width="1.5" stroke-dasharray="2 2" />
                    </svg>

                    <!-- AI -->
                    <svg *ngSwitchCase="'ai'" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path
                            d="M16 22h1c1 0 2-1 2-2v-2.5c0-1.5 1-2.5 2-3.5 1-1 1.5-2.5 1.5-4a7.5 7.5 0 0 0-15 0c0 1.5.5 3 1.5 4 1 1 2 2 2 3.5V20c0 1 1 2 2 2h1" />

                        <path d="M9 13V9h4v4" />
                        <path d="M11 9V6h3" />
                        <path d="M13 13v3" />

                        <circle cx="9" cy="9" r="0.5" fill="currentColor" />
                        <circle cx="13" cy="9" r="0.5" fill="currentColor" />
                        <circle cx="13" cy="13" r="0.5" fill="currentColor" />
                        <circle cx="14" cy="6" r="0.5" fill="currentColor" />
                    </svg>

                    <!-- Architecture -->
                    <svg *ngSwitchCase="'architecture'" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <polygon points="12 2 22 7 12 12 2 7 12 2"></polygon>
                        <polyline points="2 17 12 22 22 17"></polyline>
                        <polyline points="2 12 12 17 22 12"></polyline>
                    </svg>
                </div>

                <h3 class="font-bold mb-2 text-white">{{ service.title }}</h3>
                <p class="text-sm text-slate-400">
                    {{ service.description }}
                </p>

            </div>
            <div *ngFor="let stat of stats" #statsSection [appScrollTrigger]="'animate-slide-left'"
                class="flex flex-col items-center justify-center gap-1 z-10 mt-12 opacity-0">
                <h2 class="text-3xl text-skyBlue font-bold">{{stat.display}}+</h2>
                <p class="text-slate-400">{{stat.label}}</p>
            </div>
        </div>
    </div>
</app-main-section>