<header class="fixed top-0 left-0 w-full z-50 shadow border-b backdrop-blur-md border-azureBlue/30">
    <div class="max-w-7xl mx-auto flex items-center justify-between px-6 py-2">

        <!-- Logo -->
        <img class="w-16 h-12 md:w-20 md:h-14 hover:scale-105 cursor-pointer transition-all duration-300"
            src="./assets/MichealGhobrialLogo.png" alt="MG Logo">

        <!-- Links -->
        <nav>
            <ul class="links hidden lg:flex gap-4 md:gap-8 text-white text-sm">
                <li class="links" *ngFor="let link of navLinks" [class.active]="(activeSection$ | async) === link.id">
                    <a href="#" (click)="scrollTo(link.id, $event)">{{ link.label }}</a>
                </li>
            </ul>
        </nav>

        <!-- Right Actions -->
        <nav class="hidden lg:flex items-center gap-2 md:gap-4">
            <a href="./assets/Micheal_Ghobrial_CV.pdf" download
                class="flex items-center gap-1 md:gap-2 text-white px-3 py-1 md:px-4 md:py-2 rounded-lg hover:bg-purple-600 transition">
                <span class="material-icons text-sm md:text-base">download</span>
                CV
            </a>

            <a href="#" (click)="scrollTo('contact', $event)"
                class="bg-skyBlue text-midnightBlue px-3 py-1 md:px-4 md:py-2 rounded-lg hover:scale-110 hover:shadow-lg hover:shadow-skyBlue/50 transition duration-300">
                Contact Me
            </a>
        </nav>

        <!-- Mobile Menu Button -->
        <button id="mobile-menu-button" (click)="toggleMenu()" class="lg:hidden text-white focus:outline-none">
            <span class="material-icons">menu</span>
        </button>
    </div>

    <!-- Mobile Menu (hidden by default) -->
    <nav *ngIf="isMenuOpen" class="lg:hidden flex flex-col gap-1 bg-midnightBlue text-white p-8 z-50">
        <ul class="mobLinks flex flex-col gap-2 sm:gap-4 border-b border-skyBlue/30 pb-4">
            <li class="links" *ngFor="let link of navLinks" [class.active]="(activeSection$ |async )=== link.id">
                <a href="#" (click)="scrollTo(link.id, $event)">{{ link.label }}</a>
            </li>
        </ul>

        <a href="./assets/Micheal_Ghobrial_CV.pdf" download
            class="flex items-center justify-center gap-2 text-white px-4 py-2 mx-1 mt-2 rounded-lg bg-slateGray/10 border border-midnightBlue hover:bg-purple-600 transition ">
            <span class="material-icons text-sm">download</span>
            CV
        </a>

        <a href="#" (click)="scrollTo('contact', $event)"
            class="bg-skyBlue text-center text-midnightBlue px-4 py-2 mx-1 mt-2 rounded-lg hover:shadow-lg hover:shadow-skyBlue/50 transition duration-300 ">
            Contact Me
        </a>
    </nav>

</header>