@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  scrollbar-width:initial;      
  scrollbar-color:  #3B82F6 #1e293b;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 8px;                 
}

*::-webkit-scrollbar-track {
  background: #1e293b;            
}

*::-webkit-scrollbar-thumb {
  background-color: #3B82F6;    
  border-radius: 10px;           
  border: 2px solid #1e293b;       
}



.title-line {
    @apply absolute -bottom-1/2 h-1 w-12  rounded-full bg-gradient-to-r  from-skyBlue  to-indigo-600 transition-all duration-300 hover:w-full;
}